/** 
Se importan las fuentes y estilos almacenados en la nube

**/
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?73qq03');
  src:  url('../fonts/icomoon.eot?73qq03#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?73qq03') format('truetype'),
    url('../fonts/icomoon.woff?73qq03') format('woff'),
    url('../fonts/icomoon.svg?73qq03#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*
Previene que no se modifique la fuente
*/
[class^="icon-"], [class*=" icon-"] {

  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;


  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/**
Iconos para redes sociales
*/
.icon-facebook:before {
  content: "\ea91";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-youtube:before {
  content: "\ea9d";
}