/**
sin margen ni relleno en general
*/
* {
  margin: 0;
  padding: 0;
}
/**
para el elemnto html se define un tamaño de fuente 16px y la fuente roboto
*/
html {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

/* 
el cuerpo de la pagina tendra el fondo obscuro

*/
body {
  background: #1D1F21;
}

/*
si una checkbox esta activa o no
*/
.checkbox {
  display: none;
}

/*Se le asigna una posicion a la cabezera*/
header {
  position: fixed;
  width: 100%;
  z-index: 10;
}

/* Para el contenido de la cabezera se alinean los elementos al centro, 
con una anchura del 90%*/
.header-container {
  width: 90%;
  position: relative;
  margin: .1rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* El tamaño del logo que tendra el menu*/
.header-logo {
  width: 3rem;
}
/*Anchura y altura para las etiquetas*/
.btn-label {
  width: 2rem;
  height: 1.4rem;
}
/*
se especifica la transicion del boton que contiene el menu en una posiscion absoluta
*/
.header-button {
  width: 2rem;
  height: 0.2rem;
  background: #FFFFFF;
  position: absolute;
  top: 1.9rem;  
  transition: all 0.2s;
}

/*
clases para acomodar la forma del menu en este caso 3 barras de manera horizontal
despues sera una X
*/
.header-button::before,
.header-button::after {
  content: "";
  width: 2rem;
  height: 0.2rem;
  background: #000;
  position: absolute;
  top: -0.6rem;
  transition: all 0.2s;
}

.header-button::after {
  top: 0.6rem;
}

/* 
para la clase del menú simeplemnete sale a la mitad, es de color blanco, es una lista con los hipervinculos
con el texto justificado con una anchura de 100% y el texto al centro y una transicion de .5 segundos
*/
.menu {
  background: #d1d1d1;
  width: 100%;
  height: 10rem;
  position: fixed;
  z-index: 9;
  top: -12rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  padding-top: 2rem;
  transition: all 0.5s;
}
/*
sin estilos para el elemnto ul
*/
ul {
  list-style: none;
}
/*
margen de .05 rem para los elementos de listas
*/
li {
  margin: 0.5rem;
}

/*

Para el elemento "a" se pondra el color negro y no tendra modificaciones en el texto
*/
a {
  margin: 0.1rem;
  color: #000;
  text-decoration: none;
}

/*
Clases para que al dar clic al menu desplegable este en vez de ser 3 barras acomodadas de 
manera  horizontal al dar clic esta formara un X
*/
.checkbox:checked ~ .menu {
  background: #fff;
  top: 0rem;
}
.checkbox:checked + header .header-container label .header-button {
  background: none;
}
.checkbox:checked + header .header-container label .header-button::before {
  transform: rotate(35deg);
  top: 0;
}
.checkbox:checked + header .header-container label .header-button::after {
  transform: rotate(-35deg);
  top: 0;
}