/**
En el body se declara que la fuente (texto)
tendra el tamaño de 20px, y la fuente del como se mostrará cada texto
será Century Gothic
**/
body{
    font-size: 20px;
    font-family: "Century Gothic", sans-serif;
    
}
/**
Para el elemento table  se le da un acnho del 50%,
se le da un margen de 30px automatico, texto del lado izquierdo

**/
table{
    width: 100%;
    margin: 30px auto;
    border-collapse: collapse;
    text-align:  left;
}
 /* 
Para el el elemento tr simplemente se la de un borde con cun color
gris claro
 */
tr{
    border-bottom:  1px solid #cbcbcb;
    
}

/* 
Para los elementos th, td se le quita la propiedad de borde,
se le da una altura de 35 px, un relleno de 5px, color blanco,
y el texto al centro
*/
th,td{
    border:  none;
    height: 35px;
    padding:  5px;
    color: white;
    text-align: center;
}
/**
para el formulario se la da una anchura de 50 px un margen
de 50 px automatico, texto siempre de laso izquierdo
relleno de 20px un borde muy pequeño de un px, un borde para redondear de 6px
*/
form{
    width: 90%;
    margin:  50px auto;
    text-align: left;
    padding: 20px;
    border: 1px solid #BBBBBB;
    border-radius: 6px;
    
}
.input-group{
    margin: 10px 0px 10px 0px;
}
/**
Formato para el elemnto label
el texto el blanco y colocado a la izquierda
**/
.input-group label{
    display: block;
    text-align: left;
    margin: 4px;
    color: white;
    
}
/**
foramto para todos lo inputs de html5, dichos elementos tienen bordes y se acoplan al tamaño 
de los estilos para el formulario
**/
.input-group input{
    height: 35px;
    width: 83%;
    padding: 5px 10px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 6px;
    border: 1px solid #434749;}
/**
formato para los botones en general, el boton tiene bordes
el texto es color blanco y un fondo rojo
*/
.btn{
    width: 30%;
    padding: 10px;
    font-size: 20px;
    color: white;
    background: #FF1B00;
    border: none;
    border-radius: 6px;
 
 /*
sombrea el boton de color azul
*/   
}
.btn:hover{
    background: #349AEF;
}
/*
Formato personalizado par un boton que va a editar información
con  un sombreado de color azul
*/
.edit_btn:hover{
background: #349AEF;
/*
Formato personalizado par un boton que va a borrar informacion
con  un sombreado de color azul
*/
}
.delete_btn:hover{
    background: #349AEF;
    /*
Formato personalizado par un boton que va a editar informacion
tiene el texto de color blanco y un sombreado de color azul
*/
}
.edit_btn{
    text-decoration: none;
    padding: 2px 5px;
    background: #FF1B00;
    color: white;
    border: 3px;
    
}
/*
Formato personalizado par un boton que va a borrar información
tiene el texto de color blanco y un sombreado de color azul
*/
.delete_btn{
    text-decoration: none;
    padding:  2px 5px;
    color: white;
    border-radius: 3px;
    background: #FF1B00;
    
}
/*
la clase de mensaje sirve para personalizar movientos dentro de la pagina, por ejemplo
si hubo errores o si la operación se realizo exitosamente
*/
.mensaje{
    width: 50%;
    text-align: center;
    margin:  30px auto;
    padding: 10px;
    border-radius:  5px;
    color: #3c763d;
    background: #dff0d8;
    border:  1px solid #3c763d;
}
/*
clase para cuando no exista contenido en la base datos se mostrara de manera personalizada 
con el texto centrado, bordes mu delgados
*/
.vacio{
     width: 50%;
    text-align: center;
    margin:  30px auto;
    padding: 10px;
    border-radius:  5px;
    color: #D60707;
    background: #FFCCCC;
    border:  1px solid #D60707;
}
